{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block content %}

<h1>Modifier mot de passe</h1>


- <a href="{{path('account')}}"> Retourner Mon Compte </a> <br/>
<hr>

{% if notification %}
    <div class="alert alert-info">
    {{notification}}
     </div>
{% endif %}
    FORMULAIRE

    {{form(form)}}
{% endblock %}
