{% extends 'base.html.twig' %}

{% block carousel %}
    
{% endblock %}

{% block content %}
    
        <h3>Nos Meilleurs Ventes</h3>
        <p> Découvrez les articles les plus vendus.</p>
        <div class=" row ">
                {% for product in products %}
                    {% if product.trend %}
                    <div class=" col-md-3 ">

                    {% include "product/single_product.html.twig" %}
                    </div>

                {% endif %}
                {% endfor %}    
        </div>


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                 <h2 class="featurette-heading">Une équipe de profesionnel <span class="text-muted">au grand savoir faire.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
             <div class="col-md-5">
                <img src="{{ asset('assets/img/first.jpg') }}"  class="img-fluid" alt="" >
            </div>
        </div>

       <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Venez nous rencontrer dans nos différentes <span class="text-muted">boutiques en France.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/second.jpg') }}" class="img-fluid" alt="" >
        </div>

          

            
{% endblock %}