{% extends 'base.html.twig' %} 
{% block title %}Page Introuvable - LaBoutique{% endblock %}
 {% block content %}

<div class="block-small">
    <h2>Page Introuvable</h2>
   <p> Désolé,cette page ne semble pas indisponible pour le moment.</p>
   <a href="{{path('home')}}" class=" btn btn-info "  > Revenir à l'acceuil </a>
</div>
{% endblock %}